<div class="jumbotron">

<center>
 
 <h1 class="title">Uno Mas Taco Shop</h1>

 <h2 class="title">Dallas, Texas</h2>

 <img src="http://stuffstonerslike.com/wp-content/uploads/2009/02/stoners-like-taco-bell.gif">

 <br>
 <br>

 <%= link_to "Our Tacos", tacos_path, class: "btn btn-default" %>

 </center>

 </div>
